<div class="user-filters">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    <input type="text" matInput [formControl]="searchControl" placeholder="Search..." />
    <div class="icons" matSuffix stop-propagation (click)="searchControl.value && clearSearch()">
      <mat-icon>
        <ng-container *ngIf="searchControl.value; else searchIcon">clear</ng-container>
        <ng-template #searchIcon>search</ng-template>
      </mat-icon>
    </div>
  </mat-form-field>

  <mat-form-field class="city-dropdown" appearance="fill">
    <mat-label>Cities</mat-label>
    <mat-select [formControl]="selectedCity" (selectionChange)="citySelection($event)">
      <mat-option [value]="''">All cities</mat-option>
      <mat-option *ngFor="let city of citiesList" [value]="city?.cityName">{{ city?.cityName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="main-content">
  <div *ngFor="let user of filteredUsers" class="card-wrapper">
    <mat-card class="card">
      <div class="card-icon">
        {{ getLetters(user.name) }}
      </div>
      <div class="rhs">
        <div class="wrapper">
          <div class="lhs">
            <mat-card-title>{{ user.company.name }}</mat-card-title>
            <mat-card-subtitle>{{ user.company.catchPhrase }}
            </mat-card-subtitle>
          </div>
          <mat-chip-list>
            <mat-chip>
              <mat-icon class="icon-position"> map</mat-icon>
              <a target="_blank" href="https://maps.google.com/?q={{ user.address.geo.lat }},{{
                user.address.geo.lng
              }}"> Map </a>
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="wrapper">
          <div class="lhs">
            <mat-card-title>{{ user.name }}</mat-card-title>
            <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
            <mat-icon> phone</mat-icon>
            <span class="white-space">{{user.phone}}</span>
          </div>
        </div>
        <div class="wrapper">
          <p class="lhs">
            <mat-icon> location_on</mat-icon>
            <span class="location-info">{{ user.address.street }},{{ user.address.city }}</span>
          </p>
        </div>
        <div class="wrapper">
          <div class="lhs">
            <mat-chip-list>
              <mat-chip>
                <mat-icon class="icon-position">language</mat-icon>
                {{ user.website }}
              </mat-chip>
              <mat-chip>
                <a class="user-email" href="mailto:{{ user.email }}">
                  {{ user.email }}
                </a>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
