@media only screen and (max-width: 900px) {
  .card-wrapper {
    width: 100% !important;
  }
}

@media only screen and (min-width: 900px) {
  .card-wrapper {
    width: 50% !important;
  }
}

@media only screen and (min-width: 1200px) {
  .card-wrapper {
    width: 33% !important;
  }
}
.icons {
  cursor: pointer;
}

.user-filters {
  text-align: center;
}

.city-dropdown {
  margin-left: 5px;
}

.icon-position {
    position: relative;
    right: 7px;
}

.white-space {
    white-space: pre;
}