/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 15px;
}

.card {
    margin: 10px;
    height: 100%;
}

.wrapper {
    padding: 3px;
    display: flex;
}

.lhs {
    width: 60%;
    min-width: 60%;
    span {
        position: relative;
        top: -6px;
    }
}

* {
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.card-wrapper {
    margin-bottom: 25px;
}

.rhs {
    position: relative;
    margin-left: 70px;
}

.card-icon {
    display: flex;
    border: 1px solid #e3e3e3;
    padding: 15px;
    border-radius: 50%;
    max-width: 52px;
    align-items: center;
    background-color: #E3E3E6;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.mat-card-subtitle {
    margin-bottom: 10px;
}

.mat-card-title {
    font-size: 18px;
}

.mat-card {
    border-radius: 15px;
}

.mat-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.mat-chip {
    overflow-wrap: anywhere !important;
    height: auto !important;
}

.mat-card-subtitle {
    width: inherit !important;
}